$light-grey: #E2E4E6;
$grey: #676767;
$dark-grey: #525252;
$white: #FFFFFF;
$error: red;
$link: blue;

$background-blue: rgba(122, 184, 253, 0.3);
$background-yellow: rgba(246, 207, 106, 0.3);
$background-green: rgba(113, 255, 141, 0.3);

$scrollbar-background: #464646;
$scrollbar-background-thumb: rgb(213, 213, 213);
$scrollbar-background-thumb-hover: rgb(189, 189, 189);